.bg {
    height:100vh;
    
    background: linear-gradient(45deg, rgba(0,0,0,0.9), rgba(0,0,0,0.2)), url("https://cdn.pixabay.com/photo/2015/04/25/03/09/cork-738603_1280.jpg");
    background-size:cover;
}

.big {
    font-size: 20rem;
}
.separator_up {
    position:absolute;
    transform:rotate(180deg);
    top:0px;  
}
.separator_down {
    position:absolute;
    bottom:0px;
    z-index: -1;
}
